<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rayvarz.invHServ.Library.Properties.Settings.AtashConnectionString"
            connectionString="Data Source=ZIAMOLKI\MSSQLSERVER_2014;Initial Catalog=Atash;Persist Security Info=True;User ID=ray"
            providerName="System.Data.SqlClient" />
        <add name="Rayvarz.invHSyncServ.Library.Properties.Settings.AtashConnectionString"
            connectionString="Data Source=ZIAMOLKI\MSSQLSERVER_2014;Initial Catalog=Atash;Persist Security Info=True;User ID=ray"
            providerName="System.Data.SqlClient" />
        <add name="Rayvarz.invHSyncServ.Library.Properties.Settings.abamval_moredDarConnectionString"
            connectionString="Data Source=.\MSSQLSERVER_2014;Initial Catalog=abamval_moredDar;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>